.execute {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: green;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
  }
  
.stop {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: red;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
  }

.resume {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
  }

.mmr {
		display:inline-block;
		width:2em;
		height:1.6em;
		margin-right:1px;
		margin-bottom:1px;
		padding:0.3em;
		text-align:center;
    font-size:15px;
	}

textarea {
  width:100%;
  height:150px;
  }